{% extends "base.html" %}

{% block content %}
<main class="container-xxl">
    <div class="row">
        <h1>All Sensors</h1>
    </div>
    <div class="row row-cols-auto">
        {% for sensor in sensors %}
        <div class="card-wrapper col-sm-12 col-md-5 col-lg-4 col-xl-3">
            {% if sensor.type == "temperature" %}
                {% include "sensors/temperature/card.html" %}
            {% endif %}
            {% if sensor.type == "pressure" %}
                {% include "sensors/pressure/card.html" %}
            {% endif %}
            {% if sensor.type == "luminance" %}
                {% include "sensors/luminance/card.html" %}
            {% endif %}
        </div>
        {% endfor %}
    </div>
</main>
{% endblock %}