<div class="card" style="">
    <div class="card-header">
        {{ sensor.name }}
    </div>
    <div class="card-body">
        <p class="sensor-measure text-center"><i class="bi bi-sun"></i></p>
        <p class="sensor-measure text-center">
            {% if sensor.last_data and sensor.last_data.lux %}
                {{ sensor.last_data.lux|floatformat:0 }} lux
            {% else %}
                -
            {% endif %}
        </p>

        <a href="{% url 'sensor_detail' sensor.slug %}" class="btn btn-primary btn-block">View data</a>
    </div>
</div>